<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Entrar</h1>
      <%- include('includes/messages'); %>

        <div class="text-center ">
            <h4 class="my-3">Faça seu login</h4>
          <form class="form-login" action="/login/login" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div  class="form-group my-5">
              <label>E-mail</label>
              <input type="email" class="form-control text-center" name="email">
            </div>
            <div class="form-group ">
              <label>Senha</label>
              <input type="password" class="form-control text-center " name="password">
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
          </form>
          <div class="row">
            <div class="col-lg my-3">
              <div class="text-center lead">
                <p>Não tem uma conta? <a href="/login/cadastro">Cadastre-se</a></p>
              </div>
            </div>
          </div>
          
        </div>

      </div>

    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>